<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Rastreio de aplicações do correio</title>
</head>

<body>
    <div class="conteudo">
        <div class="rastrear aumenta-letra" v-if="pesquisar">
            <h1 class="titulo"> Rastreie sua encomenda!</h1>
            <p id="texto">Adicione um código e clique em rastrear para rastrear seu pedido,
                ou em adicionar para adicionar mais códigos à solicitação. </p>
            <ul id="lista">
                <li class="itensLista" v-for="(encomenda, i) in encomendas">
                    Encomenda {{i+1}}<input type="text" class="inputEncomenda" v-model="encomendas[i]">
                </li>
            </ul>

            <button id="adicionar" class="btn" @click="adicionarEncomenda">Adicionar</button>
            <button id="rastrear" class="btn" @click="rastrear">Rastrear</button>
        </div>

        <div class="resultado aumenta-letra" v-else-if="!pesquisar">
            <ul id="rastreios">
                <li v-for="rastreio in resultadoRastreio">{{rastreio}}</li>
            </ul>
            <button id="pesquisarNovamente" class="btn" @click="pesquisarNovamente">Rastreie mais encomendas</button>

        </div>
    </div>

    <script>
        new Vue({
            el: '.conteudo',
            data: {
                encomendas: [""],
                pesquisar: true,
                resultadoRastreio: []
            },
            methods: {
                adicionarEncomenda: function () {
                    this.encomendas.push("")
                },

                rastrear: async function () { // Valeu fuskinha
                    //console.log(this.encomendas)
                    if(this.encomendas.length == 1 && this.encomendas[0] == ""){
                        this.resultadoRastreio.push("Nenhuma encomenda encontrada.")
                        this.pesquisar = false
                        return
                    }
                    let url = this.encomendas.reduce((acumulador, encomenda) => acumulador + "&" + encomenda)

                    const resultado = await fetch("encomendas?" + url)
                        .then((res) => res.json())
                    this.resultadoRastreio = resultado.message
                    this.pesquisar = false
                },

                pesquisarNovamente: function () {
                    this.pesquisar = true
                    this.encomendas = [""]
                    this.resultadoRastreio = []
                }
            }

        })

            //Código puro em Javascript

            // const listaDeEncomendas = document.getElementById("listaEncomendas")
            // const btnAdicionar = document.getElementById("adicionar")
            // const btnRastrear = document.getElementById("rastrear")

            // btnAdicionar.addEventListener("click", function () {
            //     let elementos = listaDeEncomendas.getElementsByTagName("li");
            //     let ultimoElemento = elementos[elementos.length - 1]
            //     let indice = Number(ultimoElemento.innerText.split(" ")[1].slice(0, -1))
            //     const encomendaPraAdicionar = `<li class = "itemEncomenda">Encomenda ${indice + 1}:<input type="text" class="inputEncomenda"></li>`
            //     listaDeEncomendas.insertAdjacentHTML("beforeend", encomendaPraAdicionar)
            // })

            // btnRastrear.addEventListener("click", function () {
            //     let encomendas = Array.from(document.getElementsByClassName("inputEncomenda"))
            //     let encomendasFormatadas = encomendas.map((encomenda) => encomenda.value)
            //     console.log(encomendasFormatadas)
            //     let urlParams = encomendasFormatadas.reduce((resultado, encomenda) => resultado + "&" + encomenda)
            //     fetch("encomendas?" + urlParams)
            //         .then((res) => console.log(res))
            // })

    </script>
</body>

</html>